---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro'; // <-- IMPORT BARU
import Services from '../components/Services.astro';
import Gallery from '../components/Gallery.astro';
import Location from '../components/Location.astro';
import SocialFeed from '../components/SocialFeed.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Ananta Barbershop | Barbershop Premium di Jember">
	<Header />
	<main>
		<Hero />
        <About /> {/* <-- TAMBAHKAN DI SINI */}
		<Services />
		<Gallery />
		<SocialFeed /> {/* <-- TAMBAHKAN DI SINI */}

		<Location />
	</main>
	<Footer />
</Layout>